services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000"
    environment:
      HF_REPO_ID: "dulith-a/autoinspect-yolov8-seg"
      HF_FILENAME: "best.pt"
      MODEL_PATH: "/app/models/best.pt"
    volumes:
      - ./app/models:/app/models

  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    ports:
      - "8501:8501"
    environment:
      API_URL: "http://api:8000"
    depends_on:
      - api

  api-gpu:
    build:
      context: .
      dockerfile: Dockerfile.api.gpu
    profiles: ["gpu"]
    ports:
      - "8001:8000"
    environment:
      HF_REPO_ID: "dulith-a/autoinspect-yolov8-seg"
      HF_FILENAME: "best.pt"
      MODEL_PATH: "/app/models/best.pt"
    volumes:
      - ./app/models:/app/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

volumes:
  model_cache:
